<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="getEntities" connectionString="metadata=res://*/get.csdl|res://*/get.ssdl|res://*/get.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.51.51.252;User Id=get;password=arscher;Persist Security Info=True;database=get&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>